h1, h2, h3, h4, h5, h6 {
    color: #f1f7fa;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fbf5f5;
    /* text-shadow: 0 1px 0 #ffffff; */
    /* opacity: .5; */
}