.full-h {
  height: 100vh;
}

.iform {
  position: absolute;
  width: 80%;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 4px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-top: 4rem;
}

.bg-col {
  background-color: whitesmoke;
}

.title-lbl {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: orange;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.bg-pale-yel {
  background-color: darkkhaki;
}

.img-container {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
